<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src=./script.js defer></script>
</head>
<body>
<main id=root>
    <div id="action">Choose a {{currentChoice}}!</div>
    <form id=myform class="options">
        <div v-for="option in options" class=optionbox>
            <input type="radio" name="option" :value="option" :id="option"><label :for="option">{{option}}</label>
        </div>
        </form>
    <div id="bigwrap">
        <div id="smallwrap"></div>
        <div class="bun" id="bottombun"></div>
    </div>
    <div id="bill">
        <div id="names">
            <h2  v-for="item in burger">{{item[0]}}</h2>
        </div>
        <div>
            <h2  v-for="item in burger">₹{{item[1]}}</h2>
        </div>
    </div>
    <div id="buttonspace"></div>
</main>
</body>
</html>